/* Estilos generales para la pagina */

body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

header {
     padding: 10px;
     margin: 0;
     background-color: rgb(43, 43, 40);
}

.container-row {
     display: flex;
     flex-direction: row;
     margin: 1%;
}

.container-col {
     display: flex;
     flex-direction: column;
     margin: 0%;
}

button,
input,
a {
     transition: background-color 0.3s ease, color 0.3s ease;
}

section {
     min-height: 100%;
}

hr {
     border: none;
     border-top: 1px solid #ccc;
     margin-top: 30px;
}

/* Estilos para el navBar */
.navbar {
     align-items: center;
     justify-content: space-between;
     color: #fff;
     padding: 10px;
}

.logo {
     width: 10%;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.logo a {
     align-items: center;
     text-decoration: none;
     color: white;
     display: inline-block;
     margin-right: 10px;
}

.logo a:hover {
     color: #104C72;
}

.logo img {
     max-width: 50px;
     vertical-align: middle;
}

.logo h1 {
     font-size: 35px;
     margin: 0;
     font-weight: bold;
}

.pages-indixes {
     width: 40%;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.pages-indixes a {
     text-decoration: none;
     color: white;
}

.pages-indixes a:hover {
     color: #104C72;
}

.pages-indixes a:last-child {
     margin-right: 0;
}


/* Estilos para la sección "introduction" */
.introduction {
     justify-content: space-between;
     align-items: center;
}

.slogan {
     width: 40%;
}

.introduction-img {
     width: 45%;
}

#introduction {
     padding: 40px;
     background-color: #f2f2f2;
}

.slogan h2 {
     font-size: 45px;
     color: #333;
     margin-bottom: 20px;
}

#introduction p {
     text-align: justify;
     font-size: 28px;
     color: #666;
     margin-bottom: 30px;
}

#introduction button:first-child {
     padding: 10px 20px;
     font-size: 16px;
     color: #fff;
     background-color: #007bff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 10px;
}

#introduction button:last-child {
     margin-right: 0;
     padding: 10px 20px;
     font-size: 16px;
     color: #fff;
     background-color: #9CBAD1;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

#introduction button:hover {
     background-color: #0056b3;
}

#introduction img {
     max-width: 100%;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     -webkit-border-radius: 1.2%;
     -moz-border-radius: 1.2%;
     -ms-border-radius: 1.2%;
     -o-border-radius: 1.2%;
     border-radius: 1.2%;
}

#introduction img:hover {
     transform: scale(1.1);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}



/* Estilos para la sección "description" */
#description {
     padding: 40px;
}

#description p {
     font-size: 24px;
     font-style: italic;
     text-align: center;
     color: #333;
     margin-bottom: 20px;
}

/* Estilos para la seccion "mentors" */
/* Estilos para la sección "mentors" */
#mentors {
     padding: 20px;
     margin: 0;
     background-color: #f2f2f2;
}

#mentors h2 {
     font-size: 36px;
     color: #333;
     margin-bottom: 20px;
     text-align: center;
}

#mentors p {
     font-size: 28px;
     color: #666;
     margin-bottom: 20px;
     text-align: justify;
}


.mentors-list {
     display: inline-flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: baseline;
}

.mentor {
     background-color: #fff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
     padding: 15px;
     margin: 20px;

}

.mentor-content img {
     max-width: 20%;
     margin-bottom: 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     -webkit-border-radius: 1.2%;
     -moz-border-radius: 1.2%;
     -ms-border-radius: 1.2%;
     -o-border-radius: 1.2%;
     border-radius: 1.2%;
}


.mentor-content img:hover {
     transform: scale(1.1);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}



.mentor-items h3 {
     font-size: 28px;
     margin-bottom: 10px;
}

.mentor-content {
     justify-content: space-around;
}

.mentor-items p {
     font-size: 20px !important;
     color: #666;
     margin-bottom: 10px;
}

.mentor-items {
     align-items: start;
     justify-content: center;
     width: 60%;
}

.icons {
     justify-content: space-between;
     gap: 50%;
}

/* Estilos para subscriptions */
#subscriptions .container-row {
     justify-content: space-evenly;
}

#subscriptions>h3 {
     text-align: center;
     font-size: 30px;
     margin: 40px;
}

.subscription .container-col {
     min-height: 100%;
     justify-content: space-between;
}

.subscription {
     width: 20%;
     background-color: #FFFFFF;
     border-radius: 10px;
     border-color: #000000;
     border-style: solid;
     border-width: 2px;
     padding: 0px;
}

.subscription h3 {
     text-align: start;
     font-size: 25px;
     padding: 10px 10px 10px;
     text-align: center;
     margin: 0px;
}

.subscription p {
     text-align: center;
     margin: 0px 0px 0px;
     padding: 10px;
     font-weight: normal;
     font-size: 30px;
     background-color: #84A9D0;
}

.benefits {
     list-style-type: none;
     padding: 0px;
}

.benefits li {
     padding: 0px 10px 5px;
     font-size: 18px;
}

.subscription button {
     background-color: #3E5DCC;
     padding: 10px 0px;
     margin: 0px 18% 7%;
     width: 224;
     border-radius: 15px;
     font-size: 23px;
     color: #FFFFFF;
}

/*Estilos para las reseñas*/
#Reviews{
     background-color: #f0f0f0;
}

#Reviews h3 {
     text-align: center;
     font-size: 28px;
     margin-bottom: 40px;
}

#container-reviews{
     margin: 20px 10px 0px 10px;
     display: flex;
     align-content: space-around;
     gap: 20px;
}

.user{
     display: flex;
     padding: 10px;
     flex-direction: column;
     align-items: center;
}

.user img{
     width: 140px;
     height: 150px;
     border-radius:50%;
}

.user p{
     font-size: 20px;
     text-align: justify;
     color: #504f4f;
}

/*Estilos para "contactanos"*/
#contact-us{
     height: 500px;
     margin: 0px 10px 0px 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 100px;
}

#contact-us img{
     width: 50%;
     height: 90%;
     border-radius: 10px;
}

#container-msg{
     width: 50%;
     height: 100%;
}

#container-msg h3 {
     text-align: center;
     padding: 5px;
     font-size: 28px;
     margin-bottom: 10px;
}

#form-contact{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
}

#container-text{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
}

.msg-user{
     width: 300px;
     padding: 10px;
     border-style: solid;
     border-color: #d1d1d1;
     border-radius: 10px;
}

#msg{
     width: 640px;
     height: 150px;
     padding: 10px;
     border-style: solid;
     border-color: #d1d1d1;
     border-radius: 10px;
}

#form-contact input[type="submit"]{
     width: 100px;
     height: 30px;
     font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
     border-style: solid;
     border-radius: 10px;
}

/* Estilos para el footer */
footer {
     background-color: #333;
     color: #fff;
     padding: 20px;
     text-align: center;
     margin-top: auto;
}

footer span {
     font-size: 16px;
}