/* Estilos generales para la pagina */

body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}
h1, h2, h3, h4,a, p, li{
     font-family: Bahnschrift;
}
header {
     padding: 10px;
     margin: 0;
     background-color: #124e73;
}

.container-row {
     display: flex;
     flex-direction: row;
     margin: 1%;
}

.container-col {
     display: flex;
     flex-direction: column;
     margin: 0%;
}

button,
input,
a {
     transition: background-color 0.3s ease, color 0.3s ease;
}

section {
     min-height: 100%;
}

hr {
     border: none;
     border-top: 1px solid #ccc;
     margin-top: 30px;
}

/* Estilos para el navBar */
.navbar {
     align-items: center;
     justify-content: space-between;
     color: #fff;
     padding: 10px;
}

.logo {
     width: 10%;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.logo a {
     align-items: center;
     text-decoration: none;
     color: white;
     display: inline-block;
     margin-right: 10px;
}

.logo a:hover {
     color: #104C72;
}

.logo img {
     max-width: 50px;
     vertical-align: middle;
}

.logo h1 {
     font-size: 35px;
     margin: 0;
     font-weight: bold;
}

.pages-indixes {
     width: 40%;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.pages-indixes a {
     text-decoration: none;
     color: white;
}

.pages-indixes a:hover {
     color: #70bae9;
}

.pages-indixes a:last-child {
     margin-right: 0;
}


/* Estilos para la sección "introduction" */
.introduction {
     justify-content: space-between;
     align-items: center;
}

.slogan {
     width: 40%;
}

.introduction-img {
     width: 45%;
}

#introduction {
     padding: 40px;
     background-color: #f2f2f2;
}

.slogan h2 {
     font-size: 45px;
     color: #333;
     margin-bottom: 20px;
}

#introduction p {
     text-align: justify;
     font-size: 28px;
     color: #666;
     margin-bottom: 30px;
}

#introduction button:first-child {
     padding: 10px 20px;
     font-size: 16px;
     color: #fff;
     background-color: #007bff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 10px;
}

#introduction button:last-child {
     margin-right: 0;
     padding: 10px 20px;
     font-size: 16px;
     color: #fff;
     background-color: #9CBAD1;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

#introduction button:hover {
     background-color: #0056b3;
}

#introduction img {
     max-width: 100%;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     -webkit-border-radius: 1.2%;
     -moz-border-radius: 1.2%;
     -ms-border-radius: 1.2%;
     -o-border-radius: 1.2%;
     border-radius: 1.2%;
}

#introduction img:hover {
     transform: scale(1.1);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width:1023px){
     #introduction{
          padding: 10px;
     }
     .slogan h2{
          font-size: 30px;
          margin: 10px 0;
     }
     .introduction{
          margin: 0;
     }
     #introduction p{
          font-size: 20px;
     }
}

@media (max-width:780px){
     #introduction{
          padding: 30px;
     }
     .introduction-img{
          display: none;
     }
     .slogan{
          width: 100%;
     }
     .slogan h2{
          font-size: 40px;
     }
     #introduction p{
          font-size: 30px;
     }
}
@media (max-width:480px){
     #introduction{
          padding: 10px 20px 10px 20px;
     }
     .slogan h2{
          font-size: 35px;
     }
     #introduction p{
          font-size: 25px;
     }
}


/* Estilos para la sección "description" */
#description {
     padding: 40px;
}

#description p {
     font-size: 24px;
     font-style: italic;
     text-align: center;
     line-height: 140%;
     color: #333;
     margin-bottom: 20px;
}

/* Estilos para la sección "mentors" */
#mentors {
     padding: 20px;
     margin: 0;
     background-color: #f2f2f2;
}

#mentors h2 {
     font-size: 36px;
     color: black;
     margin-bottom: 20px;
     text-align: center;
}

#mentors p {
     font-size: 28px;
     color: #666;
     padding: 0px 5%;
     margin-bottom: 20px;
     text-align: justify;
}


.mentors-list {
     display: inline-flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: baseline;
}

.mentor {
     background-color: #fff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
     padding: 15px;
     margin: 20px;

}

.mentor-content img {
     max-width: 20%;
     margin-bottom: 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     -webkit-border-radius: 1.2%;
     -moz-border-radius: 1.2%;
     -ms-border-radius: 1.2%;
     -o-border-radius: 1.2%;
     border-radius: 1.2%;
}


.mentor-content img:hover {
     transform: scale(1.1);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}



.mentor-items h3 {
     font-size: 28px;
     margin-bottom: 10px;
}

.mentor-content {
     justify-content: space-around;
}

.mentor-items p {
     font-size: 20px !important;
     color: #666;
     margin-bottom: 10px;
}

.mentor-items {
     align-items: start;
     justify-content: center;
     width: 60%;
}

.icons {
     justify-content: space-between;
     gap: 50%;
}

/* Estilos para subscriptions */
#subscriptions{
     background-color: #FFFFFF;
}
#subscriptions> h3{
     color: black;
     font-size: 100px;
}
#subscriptions .container-row {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 40px;
     padding: 0px;
     margin: 2% 3%;
}

@media(max-width: 768px) {
     #subscriptions .container-row {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media(max-width: 480px) {
     #subscriptions .container-row {
          grid-template-columns: 1fr;
     }
}

#subscriptions h2 {
     text-align: center;
     color: black;
     font-size: 36px;
}

.subscription .container-col {
     min-height: 100%;
     justify-content: space-between;
}

.subscription {
     background-color: #FFFFFF;
     border-radius: 10px;
     border-color: #000000;
     border-style: solid;
     border-width: 2px;
}

.subscription h3 {
     text-align: center;
     font-size: 30px;
     margin: 0px;
     padding: 20px 0px;
}

.subscription p {
     text-align: center;
     font-size: 30px;
     padding: 10px;
     margin: 0px;
     background-color: #84A9D0;
}

.benefits {
     list-style-type: none;
     padding: 0px;
}

.benefits li {
     padding: 0px 10px 5px;
     font-size: 18px;
}

.subscription button {
     background-color: #3E5DCC;
     padding: 10px 0px;
     margin: 0px 18% 7%;
     width: 224;
     border-radius: 15px;
     font-size: 23px;
     color: #FFFFFF;
}
/*Estilos para las reseñas*/
#Reviews{
     background-color: #f0f0f0;
     padding: 0% 3% 0% 3%;
}

#Reviews h3 {
     text-align: center;
     font-size: 36px;
     color: black;
     margin-bottom: 40px;
     padding-bottom: 10px;
}

#container-reviews{
     margin: 20px 10px 0px 10px;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     column-gap: 20px;
}

.user{
     display: flex;
     padding: 10px;
     flex-direction: column;
     align-items: center;
}

.user img{
     width: 180px;
     height: 140px;
     border-radius:50%;
}

.user p{
     line-height: 160%;
     padding-top: 20px;
     font-size: 20px;
     text-align: justify;
     color: #504f4f;
}

/*Estilos para "contactanos"*/
#contact-us{
     margin: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

#contact-us img{
     width: 450px;
     height: 400px;
     border-radius: 10px;
}

#container-msg h3 {
     text-align: center;
     padding-bottom: 20px;
     font-size: 36px;
     color: black;
     margin-bottom: 10px;
}

#form-contact{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
}

#container-text{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     column-gap: 10px;
     row-gap: 10px;
}

.msg-user{
     width: 21.5vw;
     padding: 10px;
     border-style: solid;
     border-color: #d1d1d1;
     border-radius: 10px;
}

#msg{
     width: 46vw;
     height: 120px;
     padding: 10px;
     border-style: solid;
     border-color: #d1d1d1;
     border-radius: 10px;
     font-family: Arial, Helvetica, sans-serif
}

#form-contact input[type="submit"]{
     width: 100px;
     height: 30px;
     font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
     border-style: solid;
     border-radius: 10px;
}

/* Estilos para el footer */
footer {
     background-color: #124e73;
     color: #fff;
     padding: 20px;
     text-align: center;
     margin-top: auto;
}

#container-bottom-items{
     padding: 5px;
     margin: 5px 5px 20px 5px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 20px; 
}

#box-logo{
     height: 50px;
     display: flex;
     align-items: center;
     gap:10px;
}

#box-logo img{
     width: 50px;
}

#container-options{
     display: flex;
     justify-content: space-around;
     gap:20px
} 

.container-columns{
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.container-columns a{
     color: #fff;
     text-decoration: none;
}

.container-columns a:hover{
     color: #838383;
     scale: 1.05;
}

#iconos{
     display: flex;
     align-items: center;
     gap: 10px;
}

#iconos a img:hover{
     scale: 1.2;
}

#footer-bottom{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

#container-conditions{
     display: flex;
     gap: 20px;
}

#container-conditions a{
     font-size: 15px;
     color: #fff;
     text-decoration: none;
}

#container-conditions a:hover{
     color: #838383;
     scale: 1.10;
}

@media (max-width:1023px){
     /*media query de Comentarios de los estudiantes*/
     #container-reviews{
          grid-template-columns: repeat(2,1fr);
     }
     /*media query de los comentarios*/
     #contact-us img{
          display: none;
     }
     /*media query del footer*/
     #footer-bottom{
          flex-direction: column;
          justify-content: center;
          gap:20px;
     }
     #container-conditions{
          justify-content: space-evenly;
     }
}

@media (max-width:780px){
     /*media query de Comentarios de los estudiantes*/
     #container-reviews{
          grid-template-columns: repeat(1,1fr);
     }
     /*media query del footer*/
     #iconos{
          width: 100%;
          justify-content: center;
     }
     #container-options{
          width: 100%;
          margin: 10px;
     }

}
@media (max-width:480px){
     /*media query del footer*/
     #container-options{
          justify-content: space-between;
     }
}


/* Estilos de sección de beneficios */
/*-----------------------------------*/
.benefits-section {
     background-color: #f2f2f2;
     text-align: center;
     padding: 1% 0px 2% 0px;
}

.benefits-section .container {
     flex-wrap: wrap;
     justify-content: center;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 40px;
     padding: 0px;
     margin: 1% 3%;
}

.benefits-section h2 {
     font-size: 40px;
     color: black;
     margin: 0px;
     padding: 30px 0px;
}
.benefits-section p {
     color: gray;
     font-size: 18px;
     line-height: 170%;
     text-align: justify;
}

.benefits-section .card {
     background-color: #ffffff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.benefits-section .card h3 {
     font-size: 28px;
     margin-bottom: 10px;
}
@media(max-width: 768px) {
     .benefits-section .container {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media(max-width: 480px) {
     .benefits-section .container {
          grid-template-columns: 1fr;
     }
}

/* Estilos de sección de características */
/*-----------------------------------*/
.features-section {
     text-align: center;
     margin-bottom: 2%;
}

.features-section .container {
     flex-wrap: wrap;
     justify-content: center;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 40px;
     padding: 0px;
     margin: 1% 3%;
}

.features-section h2 {
     font-size: 40px;
     color: black;
     margin: 0px;
     padding: 30px 0px;
}

.section-title {
     text-align: center;
}

.features-section .card p {
     color: gray;
     font-size: 18px;
     line-height: 170%;
     text-align: justify;
}

.features-section .card {
     background-color: #ffffff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.features-section .card h3 {
     font-size: 28px;
     margin-bottom: 10px;
}
@media(max-width: 768px) {
     .features-section .container {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media(max-width: 480px) {
     .features-section .container {
          grid-template-columns: 1fr;
     }
}
